@import "tailwindcss";

html {
    @apply font-roboto;
}

@theme {
    /* Font Fam */
    --font-roboto: "Roboto", sans-serif;

    /* Colors */
    --color-greenPrimary: #25a149;
    --color-greenPrimary-hover: #008526;
    --color-greenLight: #eaf5ed;

    --color-redPrimary: #DA1E28;
    --color-redLight: #fceaea;

    --color-grayDark: #C1C7CD;
    --color-grayLight: #9D9D9D;

    --color-grayLight-QuizContain: #f9f9f9;
    --color-grayLight-QuizShow: #EDFDEB;

    --color-grayInput: #F3F8F2;

    --color-gray-InfoBtn: #766E6E;

    --color-gray-IconWarn: #697077;
    --color-gray-IconWarnBg: #DDE1E6;
    
    --color-answerTxt: #21272A;


    /* Text Size */
    --text-small: 14px;
    --text-regular: 16px;
    --text-large: 18px;
    --text-big: 20px;
    --text-title: 24px;
    --text-largest: 42px;


    /* Height */
    --height-header: 80px;
    --height-quizShow: 94px;
    --height-quizContain: 102px;

    --height-input: 48px;
    --height-inputSearch: 40px;

    --height-btn: 48px;
    --height-btn-info: 54px;

    /* Width */
    --width-btn-takeExam: 136px;
    --width-searchInput: 361px;


    /* Breakpoints */
    --breakpoint-mobile: 430px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;

}

.lg-container {
    @apply max-w-[1024px] mx-auto px-20 bg-amber-400;
}

.md-container {
    @apply max-w-[768px] min-w-[430px] mx-auto px-10 bg-amber-400;
}

.sm-container {
    @apply max-w-[429px] mx-auto px-5 bg-amber-400;
}
